<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootswatch/dist/sketchy/bootstrap.min.css">
  <!-- Add other styles or meta tags as needed -->
  <title>Your Node.js Project</title>
</head>
<body>



  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Welcome</p>
        <a href="/admin" class="btn btn-primary btn-block mb-2"
          >Admin Panel</a
        >
        <a href="/products" class="btn btn-secondary btn-block">See the Products</a>
      </div>
    </div>
  </div>

  <!-- Your content goes here -->
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>